name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  # --- ETAPA 1: PRUEBAS (CI) ---
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Descargar código
      uses: actions/checkout@v4

    - name: Configurar PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.4' # Usamos 8.4 para compatibilidad
        extensions: mbstring, xml, bcmath, sqlite3

    - name: Instalar Dependencias
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist

    - name: Copiar .env
      run: cp .env.example .env

    - name: Generar Key
      run: php artisan key:generate

    - name: Crear Base de Datos
      run: |
        touch database/database.sqlite
        php artisan migrate --force

    - name: Ejecutar Pruebas
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test

  # --- ETAPA 2: CONSTRUIR Y SUBIR (Build & Push) ---
  build:
    needs: test # Solo se ejecuta si las pruebas pasan
    runs-on: ubuntu-latest
    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Construir Imagen Docker
        # Usa tu usuario automáticamente desde los secretos
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/api-laravel:latest .

      - name: Escaneo de Seguridad (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/api-laravel:latest'
          format: 'table'
          exit-code: '1' # Falla si hay vulnerabilidades críticas
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'

      - name: Subir a Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/api-laravel:latest